<ng-container *ngIf="suppliers$ | async as suppliers">
    <div class="container">
        <div class="card shadow text-center">
            <div class="card-header bg-transparent">
                <div class="row pt-4">
                    <div class="col-6">
                        <h2 class="text-primary">Supplier List</h2>
                    </div>
                    <div class="col-6 text-end">
                        <a class="btn btn-primary" [routerLink]="['/supplier/add']">
                            Add New Supplier
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover px-10">
                    <thead class="text-center">
                        <tr>
                            <th>Sno</th>
                            <th>Supplier Name</th>
                            <th>Phone Number</th>
                            <th>Email Id</th>
                            <th>Street Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Pincode</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i=index, let supplier of suppliers">
                            <td>{{i+1}}</td>
                            <td>{{supplier.supplierName}}</td>
                            <td>{{supplier.phoneNumber}}</td>
                            <td>{{supplier.emailId}}</td>
                            <td>{{supplier.streetAddress}}</td>
                            <td>{{supplier.city}}</td>
                            <td>{{supplier.state}}</td>
                            <td>{{supplier.pincode}}</td>
                            <td>
                                <a class="btn btn-outline-warning"
                                    [routerLink]="['/supplier/edit', supplier.supplierId]">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>