<div class="container mx-auto p-100 justify-content-center">
    <div class="card shadow">
        <div class="card-header bg-transparent">
            <h2 class="text-primary text-center">Create SalesOrder</h2>
        </div>
        <div class="card-body pt-3">
            <form #form="ngForm" (ngSubmit)="onFormSubmit()">
                <div class="row">
                    <div class="col-10">
                        <div class="border p-3 mt-5">
                            <div class="mb-3 row p-1">
                                <label class="form-label">Sales Date</label>
                                <input type="date" id="customerName" class="form-control" name="customerName"
                                    [(ngModel)]="model.saleDate">
                            </div>
                            <div class="mb-3 row p-1">
                                <label class="form-label">Quantity</label>
                                <input type="number" id="phoneNumber" class="form-control" name="phoneNumber"
                                    [(ngModel)]="model.quantityForSale">
                            </div>
                            <div class="mb-3 row p-1">
                                <label class="form-label">Total Cost</label>
                                <input type="number" id="emailId" class="form-control" name="emailId"
                                    [(ngModel)]="model.totalCostOfSalesOrder">
                            </div>
                            <div class="mb-3 row p-1">
                                <label class="form-label">Discount</label>
                                <input type="number" id="streetAddress" class="form-control" name="streetAddress"
                                    [(ngModel)]="model.salesDiscount">
                            </div>
                            <div class="mb-3 row p-1">
                                <label class="form-label">Customer Id</label>
                                <input type="" id="city" class="form-control" name="city"
                                    [(ngModel)]="model.customerId">
                            </div>

                            <div class="mb-3 row p-1" style="width: 50%;">
                                <label>Products</label>
                                <ng-multiselect-dropdown [placeholder]="'---Select Products---'"
                                    [settings]="dropdownSettings" [data]="products" formcontrolName="myProducts"
                                    [(ngModel)]="selectedProducts" name="multipleSelect"></ng-multiselect-dropdown>
                            </div>


                            <div class="row">
                                <div class="col-6 col-md-3">
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                </div>
                                <div class="col-6 col-md-3">
                                    <a class="btn btn-outline-secondary form-control" (click)="backToList()">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <img src="" width="100%" style="border-radius: 5px; border:1px solid #bbb9b9" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>