<div class="container mx-auto p-100 justify-content-center">
    <div class="card shadow">
        <div class="card-header bg-transparent">
            <h2 class="text-primary text-center">Create SalesOrder</h2>
        </div>
        <div class="card-body pt-3">
            <form #form="ngForm" (ngSubmit)="onFormSubmit()">
                <div class="row">
                    <div class="col-6">
                        <div class="border p-3 mt-5">
                            <div class="mb-3 row p-1">
                                <label class="form-label">Sales Date</label>
                                <input type="date" id="saleDate" class="form-control" name="saleDate"
                                    [(ngModel)]="model.saleDate">
                            </div>
                            <div class="mb-3 row p-1">
                                <label class="form-label">Discount</label>
                                <input type="number" id="Discount" class="form-control" name="Discount"
                                    [(ngModel)]="model.salesDiscount">
                            </div>
                            <div class="mb-3 row p-1">
                                <label class="form-label">Customer Id</label>
                                <input type="" id="customerId" class="form-control" name="customerId"
                                    [(ngModel)]="model.customerId">
                            </div>

                            <div class="mb-3 row p-1" style="width: 50%;">
                                <label>Products</label>
                                <ng-multiselect-dropdown [placeholder]="'---Select Products---'"
                                    [settings]="dropdownSettings" [data]="products" formcontrolName="myProducts"
                                    [(ngModel)]="selectedItem" name="multipleSelect" (onSelect)="onSelect()"
                                    (onDeSelect)="onDeSelect()"></ng-multiselect-dropdown>
                            </div>
                            <div class="mb-3 row p-1">
                                <label class="form-label">Total Quantity</label>
                                <input type="number" id="totalQuantity" class="form-control" name="totalQuantity"
                                    [(ngModel)]="model.quantityForSale" readonly>
                            </div>
                            <div class="mb-3 row p-1">
                                <label class="form-label">Total Cost</label>
                                <input type="number" id="totalCostOfSalesOrder" class="form-control"
                                    name="totalCostOfSalesOrder" [(ngModel)]="model.totalCostOfSalesOrder" readonly>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-3">
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                </div>
                                <div class="col-6 col-md-3">
                                    <a class="btn btn-outline-secondary form-control" (click)="backToList()">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <p>List of Products</p>
                        <table class="table table-bordered" *ngIf="selectedProducts">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Loop through selectedProducts and display them in the table -->
                                <tr *ngFor="let product of selectedProducts; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{ product.productName }}</td>
                                    <td>
                                        <input type="number" [(ngModel)]="product.totalQuantityOfProduct"
                                            name="quantity{{i}}" (change)="onQuantityChange(i)">
                                    </td>
                                    <!-- <td>{{ product.price }}</td> -->
                                    <td>{{ product.totalQuantityOfProduct * product.price }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>