<app-sidenav></app-sidenav>
<!-- <app-login></app-login> -->

<div class="main">
    <div class="info">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <div class="sidenav">
    <div class="Header">
        <h3><i class="bi bi-cart4"></i>Inventory Application</h3>
    </div>
    <hr />
    <div class="menu">
        <a class="nav-link" [routerLink]="['/']">
            <i class='bx bxs-dashboard icon'></i> Dashboard
        </a>
        <hr />
        <a class="nav-link" [routerLink]="['product/list']">
            <i class='bx bx-package icon'></i> Product
        </a>
        <hr />
        <a class="nav-link" [routerLink]="['supplier/list']">
            <i class='bx bxs-user-plus icon'></i> Supplier
        </a>
        <hr />
        <a class="nav-link" [routerLink]="['purchaseOrder/list']">
            <i class='bx bxs-purchase-tag icon'></i> Purchase Order
        </a>
        <hr />
        <a class="nav-link" [routerLink]="['customer/list']">
            <i class='bx bx-user-check icon'></i> Customer
        </a>
        <hr />
        <a [routerLink]="['salesOrder/list']" class="nav-link">
            <i class='bx bx-cart icon'></i> Sales Order
        </a>
        <hr />
        <a href="#" class="link">
            <i class="bi bi-person-lines-fill"></i> User Profile
        </a>
    </div>
</div> -->

<!-- <div class="main">
    <div class="pageheader shadow p-2 mb-2 bg-white">
        <nav class="navbar navbar-expand-lg navbar-light bg-gradiant">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Inventory Management
                            </a>
                            <div class="dropdown-menu">
                                <a class="nav-link" [routerLink]="['category/list']">Category</a>
                                <a class="nav-link" [routerLink]="['product/list']">Product</a>
                                <a class="nav-link" [routerLink]="['customer/list']">Customer</a>
                                <a class="nav-link" [routerLink]="['supplier/list']">Supplier</a>
                                <a class="nav-link" [routerLink]="['salesOrder/list']">SalesOrder</a>
                                <a class="nav-link" [routerLink]="['purchaseOrder/list']">PurchaseOrder</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="button">Search</button>
                </form>
            </div>
        </nav>
    </div>
    <div class="info">
        <router-outlet></router-outlet>
    </div>
</div> -->