<div class="container pt-5">
    <div class="row">
        <div class="col-lg">
            <div class="card text-center shadow" style="width: 18rem; height: 100%">
                <img src="~/images/categories/stationay.png" />
                <div class="card-body">
                    <h5 class="card-title">Stationary</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Show All</a>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card text-center shadow" style="width: 18rem; height: 100%">
                <img src="~/images/categories/mobile&accessories.jpg" />
                <div class="card-body">
                    <h5 class="card-title">Mobile Phones & Accessories</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Show All</a>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card text-center shadow" style="width: 18rem; height: 100%">
                <img src="~/images/categories/accessories1.jpg" />
                <div class="card-body">
                    <h5 class="card-title">Accessories</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Show All</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-lg">
            <div class="card text-center shadow" style="width: 18rem; height: 100%">
                <img src="~/images/categories/cosmetics1.jpg" />
                <div class="card-body">
                    <h5 class="card-title">Cosmetics</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>