/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  position: relative;
  font-family: 'Roboto', sans-serif;
} */

/* Light Theme */
body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #333;
}

/* Dark Theme */
.dark-theme {
  background-color: #333;
  color: #fff;
}